Primer empleo

In [ ]:

import numpy 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from xlsxwriter import Workbook

plt.figure(figsize=(15,30))
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline 

path=r'Datos.xlsx'

# Cargue y lectura de los datos

In [ ]:
data = pd.read_csv('empleo.csv')

# Encabezado de datos

In [ ]:
data.head()

# ver valores nulos

In [ ]:
data.isnull().sum()

# Encontrar quienes estan en primer empleo en la base de datos

In [ ]:
data['Situación Laboral']=='Primer Empleo'

# verificando la informacion

In [ ]:
data[data['Situación Laboral']=='Primer Empleo']

# Creando nuevo dataframe

In [ ]:
newdata=data.copy

#Guardando datos filtrados en el nuevo dataframe

In [ ]:
ndata=data[data['Situación Laboral']=='Primer Empleo']

Renombrar encabezados

In [ ]:
mdatos =ndata.rename (columns={
    "Tipo Documento" :"Tipo_Documento",
    "Canal de Registro":"Canal_Registro",
    "Edad":"Edad",
    'Género': 'Genero',
    "Nivel de Estudio": "Nivel_Estudio",
    'Título Homologado' :'Titulo_Homologado',
    'Ciudad de Residencia':'Ciudad_Residencia',
    'Fecha Registro':'Fecha_Registro',
    'Programa de Gobierno':'Programa_Gobierno',
    'Condiciones Especiales':'Condiciones_Especiales',
    'Situación Laboral':'Situación_Laboral',
    'Fecha Actualización':'Fecha_Actualizacion',
    'Zona':'Zona',
    'Mes':'Mes',
    'Año':"anio",
    'Punto Atención':'Punto_Atencion',
    'Rango Edad':'Rango_Edad'
})

mdatos.columns

Guardar en xlsx

In [ ]:
'''writer = pd.ExcelWriter(path, engine = 'xlsxwriter')
ndata.to_excel(writer, sheet_name = 'Dframe')
writer.save()
writer.close()

print(ndata.columns)'''

# Grafica de porcentaje por Genero

In [ ]:
mdatos.Genero.value_counts().plot.pie(explode =[0,0.1] , shadow =True,startangle=90)
plt.title('Contratacion por Genero')
plt.show()

En la grafica anterior podemos apreciar que el numero de mujeres atendidas y consuguieron empleo estos dos ultimos años fue mayor al numero de hombres  .

In [ ]:
valor_porcarrera = mdatos.groupby("Nivel_Estudio")["Tipo_Documento"].count()
valor_porcarrera.head(20).plot.barh(edgecolor='black')
plt.figure(figsize=(40,10))
plt.show()

Grafico de personas empleadass organizadass por su nivel de estudios , se encuntra agrupada con la informacion de estos dos ultimos años de pandemia (2020 - 2021)

# creacion de dataframe para cada año de pandemia

In [ ]:

anio2021=mdatos[mdatos['anio']=="2,021"]
anio2020=mdatos[mdatos['anio']=="2,020"]

In [ ]:
f , ax =plt.subplots(1,2, figsize =(18,8))
mdatos['anio'].value_counts().plot.pie(explode =[0,0.1] ,ax =ax [0], shadow =True,startangle=90,)
ax[0].set_title('Atencion por año')
plt.show()

# Histograma por año 2020 y 2021 sobre personas contratadas durante cada mes de cada año

In [ ]:
anio2020.Mes.plot.hist(edgecolor='black',color='Green')
plt.title ('Empleabilidad en el año 2020')
plt.xlabel('Meses')
plt.ylabel('')
plt.show

In [ ]:
anio2021.Mes.plot.hist(edgecolor='black',color='Green')
plt.title ('Empleabilidad en el año 2021')
plt.xlabel('Meses')
plt.ylabel('')
plt.show